
<form #f="ngForm">
    <div class="mb-3">
        <label>title</label>
        <input type="text" class="form-control" name="title" placeholder="Enter title" [(ngModel)] ="product.title" required minlength="3" #title="ngModel" > 
        <div class="alert alert-danger" *ngIf="title.invalid">
        <div *ngIf="title.errors?.['required']"> Title is required </div>
        <div *ngIf="title.errors?.['minlength']"> Title min length 3 caractéres</div>
    </div>
    </div>
  
    
    <div class="mb-3">
        <label>id</label>
        <input type="text" class="form-control" name="id" placeholder="Enter id" [(ngModel)] ="product.id" required #id="ngModel"  >
        <div class="alert alert-danger" *ngIf="id.invalid">
        <div > Id is required</div>
      </div>
    </div>
      <div class="mb-3">
        <label>Price</label>
        <input type="text" class="form-control" name="price" placeholder="Enter price" [(ngModel)] ="product.price" required min="0" #price="ngModel"  >
        <div class>
        <div> Price is required </div>
        <div> Price doit étre positive </div>
      </div>
    </div>

      <div class="mb-3">
        <label>Quantity</label>
        <input type="number" class="form-control" name="Quantity" placeholder="Enter quantity" [(ngModel)] ="product.quantity" required min="100" max="999" #quantity="ngModel" >
        <div class="alert alert-danger" *ngIf="quantity.invalid">
        <div *ngIf="quantity.errors?.['required']"> Quantity is required </div>
        <div *ngIf="quantity.errors?.['min']">Quantity contenir 3 caractères </div>
      </div>
    </div>
    
    <button type="submit" class="btn btn-primary"   [disabled]="f.invalid">Submit</button>
  </form>
{{product.title}}
{{product.id}}
{{product.price}}
{{product.quantity}}